@use '../../partials/mixins' as*;
.aside{
    border-top: 2px solid #E1E1E1;

    @include tablet{
        width:50%;
    }

    @include desktop{
        width:30%;
        border-top:none;
    }

    &__next{
        padding: 1.5rem 0.5rem;
        font-size: 0.9rem;
        font-weight: 700;
        color:#AFAFAF;

    }

    &__image{
        border-radius: 5%;

        @include desktop{
            width:100%;
        }
    }

    &__carditem{
        display:flex;}
    
    &__imagebox{
        width:100%; 
        padding: 0.5rem;

        @include desktop{
            width:100%;
        }
    }
    
    &__image{
         width:100%;
         height:15vh; 
    
        @include desktop{
              width:100%;
        }
    }
    
    &__details{
        display: flex;
        flex-direction: column;
        font-size: 0.5rem;
        width:50%;
        padding:0.5rem;
    }

    &__title{
        padding: 0.3rem;
        font-weight: 600;

        @include desktop{
            font-size: 1rem;

        }
    }
    &__channel{
        padding: 0.3rem 0.3rem;
        color: #323232;
        font-weight: 600;

        @include desktop{
            font-size: 0.8rem;

        }
    }
}