@use '../../styles/partials/mixins' as*;
@use '../../styles/partials/variables' as *;
.aside{
    border-top: 2px solid #E1E1E1;

    @include tablet{
        width:100%;
    }

    @include desktop{
        width:100%;
        border-top:none;
    }

    &__next{
        padding: 1.5rem $medium-padding;
        font-size: 0.9rem;
        font-weight: 700;
        color:#AFAFAF;

    }

    &__image{
        border-radius: 5%;
        object-fit: cover;
        width: 100%;

        @include desktop{
            width:50%;
            
        }
        @include tablet{
            width:50%;
        }
    }

    &__carditem{
        display:flex;
        text-decoration: none;
        color:$navigation-background-para;
        @include tablet{
            width:40%;
        }

        @include desktop{
            width:70%;
        }

    }
    
    &__imagebox{
        width:50%; 
        padding: $medium-padding;

        @include tablet{
            width:40%;
        }

        @include desktop{
            width: 60%;
            
        }
    }
    
    &__image{
         width:100%;
         height:10vh; 
    
        @include desktop{
              width:100%;
              height:12vh;
        }
    }
    
    &__details{
        display: flex;
        flex-direction: column;
        font-size: 0.5rem;
        width:50%;
        padding:$medium-padding;
    }

    &__title{
        padding: $small-padding;
        font-weight: 600;

        @include desktop{
            font-size: 1rem;

        }
    }
    &__channel{
        padding: $small-padding $small-padding;
        color: #323232;
        font-weight: 600;

        @include desktop{
            font-size: 0.8rem;

        }
    }
}

