@use '../../styles/partials/mixins' as *;

.hero{
    width:100%;
    text-align: center;
    background-color: black;
    height:27vh;
    

    @include tablet{
        height:60vh;


    }

    @include desktop{
        height:70vh;
    }

    &__video{
        width:100%;
        height:100%;

        @include tablet{
            width:100%;

        }
    }
}