//breakpoints for different media
$mobile-breakpoint:320px;
$tablet-breakpoint:768px;
$desktop-breakpoint:1440px;

////colors used on the page//

$text-label-style:#AFAFAF ;
$text-field-border:#E1E1E1;
$text-field-background-fill:#FAFAFA;

$navigation-background-para: #323232 ;
$primary-text-link:#004892;
$primary-hover:#002F5F ;
$button:#0095FF;


//common padding variables


$small-padding:0.3rem;
$medium-padding:0.5rem;
$large-padding:1rem;
