@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.upload {
    padding: $medium-padding;

    @include desktop {
        padding: $large-padding 5rem;
        margin: 4rem 2rem;
    }

    &__heading {
        font-weight: 800;
        padding: $medium-padding 0;

        @include desktop {
            font-size: 3rem;
        }

    }

    &__thumbnail {
        width: 100%;

        @include tablet {
            width: 40%;
            object-fit: cover;
        }

        @include desktop {
            width: 100%;
        }
    }

    &__thumbnailbox {
        padding: $large-padding 0;

        @include tablet {
            border-top: 2px solid $text-field-border;
        }

        @include desktop {
            width: 40%;
            border-top: none;
        }
    }

    &__thumbnailheading {
        color: $text-label-style;
        font-size: 0.7rem;
        font-weight: 700;
        padding: 0.3rem 0;

        @include desktop {
            font-size: 1.2rem;
            font-weight: 800;
        }
    }

    &__container {

        @include desktop {
            display: flex;
            border-top: 3px solid $text-field-border;

        }

    }

    &__formcontainer {

        @include desktop {
            width: 60%;
            margin: 2rem 1rem;
        }
    }

    &__title {
        color: $text-label-style;
        font-size: 0.7rem;

        @include desktop {
            font-size: 1rem;
        }

    }

    &__titlebox {
        width: 100%;
        padding: $medium-padding 0;
    }
    // Create Mixins for thse two
    &__inputbox {
        width: 98%;
        height: 5vh;
        color: black;
        padding: 0 $medium-padding;
        @include inputbox;

        @include desktop {
            margin: 1rem 0;
        }
    }

    &__videodescription {
        width: 98%;
        height: 15vh;
        @include inputbox;
        padding: $medium-padding $medium-padding;
        text-align: unset;
        border-radius: 5%;

    }

    &__buttonbox {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            border-top: 2px solid $text-field-border;
            padding: $large-padding 0;

        }

    }

    &__cancel {
        color: $button;
        font-weight: 900;
        border: none;
        background-color: white;
        order: 1;
        margin: 0.5rem;

        @include tablet {
            margin: 0 2rem;
        }

        @include desktop {
            font-size: 1.2rem;
        }
    }

    &__publish {
        background-color: $button;
        color: #fff;
        border: none;
        width: 98%;
        height: 5vh;
        border-radius: 5%;
        margin: 0.5rem;

        @include tablet {
            width: 70%;
            height: 6vh;
        }

        @include desktop {
            font-size: 1.2rem;
        }
    }

    &__publishbox {
        width: 98%;

        @include tablet {
            width: 20%;
            order: 1;
        }

        @include desktop {
            width: 40%;
            text-align: center;
        }
    }


}
