@use '../../partials/mixins' as*;

.header{
    text-align: center;

    @include tablet{
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    &__uploadbox{
        display: flex;
        flex-direction: column;

        @include tablet{
            flex-direction: row;
            width:60%;
        }
    }

    &__logo{
        @include desktop{
            width:12%;
            margin-left: 5rem;

        }
    }

    &__avatarbox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        padding: 0.5rem 1rem;
    }

    &__search{
        background-image: url('../../assets/Icons/Icon-search.svg') ;
        opacity:0.75;
        background-repeat: no-repeat;
        background-size:1.6rem;
        width:90%;
        height: 5vh;
        border-radius: 5%;
        border-style: groove;
        border-color:#E1E1E1;
        background-color: #FAFAFA;
        padding-left:2rem;
        font-size: 1rem;

        @include desktop{
            background-size:3rem;
            font-size: 1.5rem;
            padding-left:3rem;
        }
    }
    &__uploadbox{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__upload{
        background-color: #0095FF;
        color:#fff;
        border:none;
        width:70%;
        height: 6vh;
        border-radius: 5%;

        @include desktop{
            font-size: 1.5rem;
        }
    }

    &__avatar{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        padding: 0.5rem;
    }
}