@use '../../styles/partials/mixins' as*;
@use '../../styles/partials/variables' as *;

.header{
    text-align: center;
    margin:1rem 0rem;

    @include tablet{
        text-align: left;
        @include display;
        justify-content: space-between;     
        margin:0rem 1rem;
    }

    @include desktop{
        border-bottom: 1px solid $text-field-border;;
    }

    &__uploadbox{
        display: flex;
        flex-direction: column;

        @include tablet{
            flex-direction: row;
            width:60%;
        }
    }

    &__logo{
        padding: $medium-padding 0;
        @include desktop{
            width:100%;
            margin-left: 5rem;

        }
    }

    &__avatarbox{
        @include display;
        justify-content: space-between;
        width:100%;
        padding: $medium-padding $large-padding;

        @include desktop{
            justify-content: space-around;
        }
    }

    &__search{
        background-image: url('../../assets/Icons/Icon-search.svg') ;
        opacity:0.75;
        background-repeat: no-repeat;
        background-position:1rem;
        opacity: 30%;
        background-size:1.3rem;
        width:90%;
        height: 5vh;
        border-radius: 5%;
        border-style: groove;
        border-color:$text-field-border;
        background-color: #FAFAFA;
        padding-left:3rem;
        font-size: 1rem;
        position: relative;

        @include desktop{
            background-size:2rem;
            background-position:1rem;
            opacity: 30%;
            font-size: 1.5rem;
            padding-left:3.5rem;
            
        }
    }

    &__uploadlink{
        width:100%;

        @include desktop{
            width:50%;
           text-align: end;
        
        }
    
    }
    &__uploadbox{
        @include display;
        justify-content: center;
        

    }
    &__upload{
        background-color:$button;
        color:#fff;
        border:none;
        width:100%;
        height: 6vh;
        border-radius: 5%;

        @include desktop{
            font-size: 1.5rem;
            width:70%;
            text-align: center;
        }
    }

    &__avatar{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        padding: $medium-padding;

        @include desktop{
            width:5.5rem;
            height:5.5rem;
        }
    }
}