@use '../../partials/mixins' as *;

.comment{
    padding:0.5rem;

    @include desktop{
        width:100%;
        height: 100%;
        border-right: 2px solid #E1E1E1;
        padding-right: 0.5rem;
    }

    &__numbers{
        font-weight: 600;
    }
    &__form{
        display:flex;
        padding: 1.5rem 0rem;
        justify-content: center;

        @include tablet{
            display: flex;
            align-items: center;
        }
       
    }

    &__formmain{
        @include tablet{
            display: flex;
            align-items: center;

        }
    }

    &__avatar{
        width:3rem;
        height:3rem;
        border-radius: 50%;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    &__conversation{
        color:#AFAFAF;
        font-weight: 700;
        font-size: 0.8rem;
    }

    &__input{
        width:13rem;
        height:5.5rem;
        border:2px solid #E1E1E1;
        border-radius: 2%;
        background-color: #fafafa;
        padding: 1rem;
        margin-top: 0.5rem;

        @include tablet{
            height:2rem;
            width:20rem;
        }
    }

    &__button{
        width: 13rem;
        height: 5vh;
        border-radius: 5%;
        border:none;
        color:#fff;
        background-color: #0095FF;
        margin-top: 1rem;

        @include tablet{
           margin-left: 1rem;
           height:5.5vh;
           align-self: flex-end;
        }

        @include desktop{
            height:4vh;
        }

    }
    &__avatardiv{
        background-color:#E1E1E1;
        width:3rem;
        height: 3rem;
        border-radius: 50%;

    }

    &__item{
        display: flex;
        justify-content: space-between;
        border-top: 2px solid #E1E1E1;
        padding: 1rem 0;

        @include tablet{
            justify-content: space-evenly;
        }

    }

    &__details{
        width:80%;
         

        @include tablet{
            padding: 0 1rem;
          
        }
        
    }
    &__name{
        font-size: 0.8rem;
        font-weight: 600;
        padding: 0.5rem;

        @include desktop{
            font-size: 1rem;
        }
    }
    &__nametimebox{
        display: flex;
        justify-content: space-between;

    }
    &__name{
        padding: 0.3rem;
    }
    &__date{
        font-size: 0.8rem;
        padding: 0.5rem;
        
    }

    &__itemcontainer{

         @include desktop{
            height:50vh;
        }
    }
}