@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.comment{
    padding:0.5rem;

    @include desktop{
        width:100%;
        height: 100%;
        border-right: 2px solid $text-field-border;
        padding-right: $medium-padding;
    }

    &__numbers{
        font-weight: 600;
    }
    &__form{
        display:flex;
        padding: 1.5rem 0rem;
        justify-content: center;

        @include tablet{
            @include display();
        }
       
    }

    &__formmain{
        @include tablet{
            @include display();

        }
    }

    &__avatar{
        width:3rem;
        height:3rem;
        border-radius: 50%;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    &__conversation{
        color:#AFAFAF;
        font-weight: 700;
        font-size: 0.8rem;
    }

    &__input{
        width:13rem;
        height:5.5rem;
        margin-top: 0.5rem;
        @include inputbox;

        @include tablet{
            height:2.5rem;
            width:20rem;
        }

        @include desktop{
            height:3.3rem;

        }
    }

    &__button{
        width: 13rem;
        height: 5vh;
        border-radius: 5%;
        border:none;
        color:#fff;
        background-color: $button;
        margin-top: 1rem;

        @include tablet{
           margin-left: 1rem;
           height:6vh;
           align-self: flex-end;
           width:10rem;
        }

        @include desktop{
            height:6vh;
        }

    }
    &__avatardiv{
        background-color:$text-field-border;
        width:3rem;
        height: 3rem;
        border-radius: 50%;

    }

    &__item{
        display: flex;
        justify-content: space-between;
        border-top: 2px solid $text-field-border;
        padding: $large-padding 0;

        @include tablet{
            justify-content: space-evenly;
        }

    }

    &__details{
        width:80%;
         

        @include tablet{
            padding: 0 $large-padding;
          
        }
        
    }
    &__name{
        font-size: 0.8rem;
        font-weight: 600;
        padding: $medium-padding;

        @include desktop{
            font-size: 1rem;
        }
    }
    &__nametimebox{
        display: flex;
        justify-content: space-between;

    }
    &__name{
        padding: $small-padding;
    }
    &__date{
        font-size: 0.8rem;
        padding: $medium-padding;
        
    }

    &__itemcontainer{

         @include desktop{
            height:50vh;
        }
    }
}