@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
.details{
    padding:0.5rem;

    @include desktop{
        width:100%;
        height: auto;
        border-right: 2px solid $text-field-border; 
    }


    &__currentvideoname{
        font-size: 1.5rem;
        color:$navigation-background-para;
        padding: $small-padding;
        font-weight: 900;

        @include desktop{
            font-size: 2rem;
        }
    }

    &__uploadbox{
        @include tablet{
            display: flex;
            justify-content: space-between;
        }
    }

    &__videoby{
        font-size: 1rem;
        color:#323232;
        padding: $small-padding;
        font-weight: 600;

        @include tablet{
            font-size: 1rem;
            padding: 0;
            margin-right: 1rem;

        }
    }
    &__uploaddate{
        padding: $small-padding;

        @include tablet{
            font-size: 1rem;
        }

    }

    &__social{
        display: flex;
        width:65%;
        justify-content: space-between;
        align-items: center;
        padding: $large-padding 0;

        @include tablet{
           width:30%;
           margin-right: 1rem;
        }

        @include tablet{
            font-size: 1rem;
        }
    }

    &__videodetails{
        border-top: 2px solid #E1E1E1;
        padding: $large-padding 0;
        margin:0;
    }
    &__uploaderdetails{
        @include display;

        @include tablet{
            padding: $medium-padding;
        }
    }

}