@use './partials/fonts' as *;
@use './partials/mixins' as *;


.App {
    padding : 0.3 rem;
}

.content {
    @include desktop {
        display: flex;
        justify-content: center;
        margin: 1rem 5rem;
        width:100%;
    } 

    &__right{

        @include desktop{
            width:30%;
        }
        
    }

    &__left{

        @include desktop{
            width:60%;
        }
    }
    
}
